.about_container{
    /* border: 2px solid red; */
    padding: 50px;

}
.abt_container{
    /* border: 2px solid rgb(203, 203, 203); */
    height: 650px;
    display: flex;
}
.about{
    /* border: 3px solid blue; */
    padding: 80px 40px;
    width: 50%;
    height: 500px;

}
.about h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(14, 14, 14);
}
.about p{
    margin-top: 20px;
    word-spacing: 5px;
    line-height: 30px;
}
.about  Button {
    margin-top: 10px;
    font-size: 20px;
    background-color: black;
    width: 250px;
}
.main_bg
{
    margin-top: 20px;
    width: 45%;
    height: 80%;
    background-image: url("../../assest/mr2.jpg");
    background-position: center;
    background-size: cover;
    /* border: 2px solid red; */

}

.services_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.services_heading p {
    font-size: 25px;
    text-align: center;
    padding: 10px;
    color: gray;
}
.services{
    padding: 20px;
    display: flex;
}
.service_1{
    width: 33%;
    padding: 20px;
}
.service_1 p {
    /* font-size: 20px; */
    padding: 8px 0;
    word-spacing: 5px;
    line-height: 30px;
}

.contact_details{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    padding: 40px 0;

}
.form Button{
    margin-top: 20px;
    width: 200px;
}
.img{
    width: 45%;
}
.img .cnt_img{
    margin-top: 20px;
    width: 100%;
    height: 350px;
    background-image: url("../../assest/contact.jpg");
    background-position: center;
    background-size: 370px;
    background-repeat: no-repeat;
}
.media_icons{
    /* border: 2px solid red; */
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
.linkedin{
    font-size: 50px;
    color: black;
    transition: 0.3s;
}
.linkedin:hover{
    color: rgb(38, 38, 243);
}
.facebook{
    font-size: 50px;
    color: black;
    transition: 0.3s;
}
.facebook:hover{
    color: rgb(38, 38, 243);
}
.instagram{
    font-size: 50px;
    color: black;
    transition: 0.3s;
}
.instagram:hover{
    color: rgb(243, 38, 38);
}





