.container_1{
    /* border: 2px solid red; */
}
.container_2{
    /* border: 2px solid rgb(19, 46, 249); */
    margin: 0 10%;
    padding: 20px;
}
.headline{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    /* border: 2px solid rgb(0, 168, 17); */
}
.headline h5 {
    color: grey;
    letter-spacing: 5px;
}
.headline h1 
{
    letter-spacing: 2px;
}
.content_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    /* border: 2px solid rgb(255, 0, 195); */
}
.content_block_2{
    display: flex;
}