.main_card {
    margin-top: 20px;
    border: none;
}

.main_card:hover {
    background-color: rgba(255, 17, 0, 0.614);
    background-color: lightgrey;
    transform: scale(0.8);
    transition: 1s ease;
}

.card {
    cursor: pointer;
    transition: 0.3s;
    width: 30rem;
}

.card:hover {
    opacity: 0.5;
    backdrop-filter: blur(10px);
}

.card img {
    height: 18rem;
}

.card_date {
    color: grey;
}

.card-text {
    font-size: 25px;
}

/* Media Quuery */

@media screen and (max-width: 1058px) {
    .card {
        width: 25rem;
    }
}

@media screen and (max-width: 896px) {
    .card {
        width: 22rem;
    }

    .card-text {
        font-size: 22px;
    }
}

@media screen and (max-width: 800px) {
    .card {
        width: 20rem;
    }
}

@media screen and (max-width: 732px) {
    .card {
        width: 30rem;
    }
}

@media screen and (max-width: 575px) {
    .card {
        width: 25rem;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 22rem;
    }
}

@media screen and (max-width: 375px) {
    .card {
        width: 18rem;
    }

    .card-text {
        font-size: 20px;
    }
}