.main_container {
  background: url("../../assest/Cloud.gif");
  background-repeat: none;
  background-size: cover;
  height: 100vh;
}


.Me_details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.Me_details h5 {
  font-size: 22px;
  font-weight: 400;
}
.Me_details h6 {
  font-size: 25px;
  font-weight: 400;
  margin-top: 15px;
  letter-spacing: 2px;
  color: rgb(62, 62, 62);
}
h1 {
  font-size: 50px;
}
.me_details_skills {
  display: flex;
  justify-content: space-between;
  padding: 10px 80px;
}
.me_details_skills h5 {
  font-size: 22px;
  font-weight: 400;
}
span {
  background-color: #bfbfbf6c;
  padding: 2px 7px;
  border-radius: 5px;
}
.me_details_skill2 h5 {
  float: right;
}



/* Media Query */

@media screen and (max-width: 1496px) {
  .me_details_skills {
    padding: 40px 20px;
  }
  .main_content {
    padding-top: 0px;
  }
  .Me_details{
    padding-top: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .me_details_skills {
    padding: 40px 20px;
  }
  .main_content {
    padding-top: 0px;
  }
  .Me_details{
    padding-top: 20px;
  }
}

@media screen and (max-width: 850px) {
  .me_details_skills {
    padding: 40px 20px;
  }
  .main_content {
    padding-top: 0px;
  }
  .Me_details{
    padding-top: 20px;
  }
}
@media screen and (max-width: 610px) {
  .me_details_skills {
    padding: 50px 20px;
  }
  .Me_details{
    padding-top: 20px;
  }
  .me_details_skill2 h5,
  h5 {
    float: none;
    text-align: center;
    font-size: 20px;
  }
  .Me_details {
    padding-top: 14px;
  }
  .Me_details h6 {
    font-size: 21px;
    margin-top: -2px;
  }
  h1 {
    font-size: 30px;
    text-align: center;
  }
  .main_content {
    padding-top: 50px;
  }
}


@media screen and (max-width: 450px) {
  .me_details_skills{
    flex-direction: column;
    padding: 50px 0px;
  }
  .me_details_skill2{
    margin-top: 30px;
  }
  .main_content Button {
    width: 150px;
    font-size: 15px;
  }
  .me_details_skills {
    padding: 30px 20px;
  }
  .me_details_skill2 h5,
  h5 {
    float: none;
    text-align: center;
    font-size: 15px;
  }
  .Me_details {
    padding-top: 14px;
  }
  .Me_details h6 {
    font-size: 20px;
    margin-top: -2px;
  }
  h1 {
    font-size: 25px;
    text-align: center;
  }
  .main_content {
    padding-top: 0px;
  }
}

